

ion-content,ion-header,ion-toolbar{
    --background:var(--color-navy);
    --color:#fff;
}

ion-avatar{
    margin: auto;
    width: 150px;
    height: 150px;
 }

 ion-item{
    --border-radius:1.2rem;
    --background: transparent;
    --border-width: 2px;
    --border-color: var(--color-transWhite);
    --color:var(--color-transWhite);
    margin-bottom: 1rem;
}   

.avatar-skeleton{
    ion-skeleton-text{
        margin: 1.2rem auto 1rem auto;
    }
    margin: 0 auto;
}

.input-skeleton{
    ion-skeleton-text{
        height: 50px;
        width:90%;
        margin: 1.2rem auto;
        --border-radius: 20px;
    }
    margin: 0 auto;
}