<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ng-container *ngIf="(profile$|async); else loading">
  <ion-grid>
    <ion-row margin-bottom>
      <ion-col>
          <app-add-profile-pic *ngIf="picture" [picture]="picture" (updatePhoto)="profile.profilePicture = $event;"></app-add-profile-pic>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input [(ngModel)]="profile.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input [(ngModel)]="profile.surname"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input disabled [(ngModel)]="profile.email"></ion-input>
          </ion-item>
          

          <ion-item>
              <ion-label position="stacked">Updated Password</ion-label>
              <ion-input type="password" [disabled]="updatingPassword" [(ngModel)]="profile.password"></ion-input>
          </ion-item>

          <ion-button [disabled]="updatingPassword" expand="block" color="green" (click)="changePassword()">
              <ion-spinner name="dots" *ngIf="updatingPassword" color="light"></ion-spinner>
              <ng-container *ngIf="!updatingPassword">
                <ion-icon name="unlock"></ion-icon>  Update Password
                </ng-container>
          </ion-button>

          <ion-text marginTop color="orange">
              {{errorMessage}}
            </ion-text>

          <ion-button margin-top color="orange" (click)="signOut()">
              <ion-icon name="log-out"></ion-icon> Sign Out
              </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ng-container>
<ng-template #loading>
    <ion-spinner></ion-spinner>
</ng-template>
</ion-content>