

ion-content,ion-header,ion-toolbar{
    --background:var(--color-navy);
    --color:#fff;
}

.metric{
    text-align: center;

    .amount{
        font-size: 2.5rem;
    }
    .text{
        font-size: 1.2rem;
        padding-top: .5rem;
    }
    border-bottom: 2px solid var(--color-green);
    padding: .7rem;
}

.square-skeleton{
   
    margin: 0 auto;
}
