<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="stats else loadingStats ">
        <ion-grid>
      <ion-row class="section">
        <ion-col size="6">
            <div class="metric">
              <div class="amount">{{stats.totalTrips}}</div>
              <div class="text">Trips Logged</div>
            </div>
        </ion-col>
        <ion-col size="6">
          <div class="metric">
            <div class="amount">{{stats.totalMemories}}</div>
            <div class="text">Memories Created</div>
          </div>
        </ion-col>
      </ion-row>
</ion-grid>
    </ng-container>
    <ng-template #loadingStats>
      <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div class="square-skeleton" margin>
                    <ion-skeleton-text animated style="width: 150px; height: 150px;"></ion-skeleton-text>
                  </div>
            </ion-col>
            <ion-col size="6">
                <div class="square-skeleton" margin>
                    <ion-skeleton-text animated style="width: 150px; height: 150px;"></ion-skeleton-text>
                  </div>
            </ion-col>
        </ion-row>
      </ion-grid>
        

      </ng-template>
      <ng-container *ngIf="profile else loading">
          <ion-grid>
      <ion-row>
        <ion-col size="12">
          <app-caravan-drop [profile]="profile" (update)="updateCaravans($event)"></app-caravan-drop>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <app-vehicle-drop [profile]="profile" (update)="updateVehicle($event)"></app-vehicle-drop>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>



  <ng-template #loading>
    <div class="input-skeleton">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
  </ng-template>
</ion-content>