

ion-content,ion-header,ion-toolbar{
    --background:var(--color-navy);
    --color:#fff;
}
.trip-picture{
    border:1px solid #fff;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
    }
    ion-spinner{
        margin-top: 1rem;
    }
}
// ion-avatar{
//     border: 1px solid #fff;
//     padding: 5px;
//     margin: 0 auto;
// }
ion-text{
    display: block;
}