<ion-header>
  <ion-toolbar>
    <ion-title>New Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
              <ion-label position="stacked">Trip Name</ion-label>
              <ion-input [(ngModel)]="trip.name"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Location</ion-label>
              <ion-input [(ngModel)]="trip.location"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Description</ion-label>
              <ion-textarea [(ngModel)]="trip.description"></ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Kilometers traveled</ion-label>
              <ion-input [(ngModel)]="trip.kilometersTraveled" type="number"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">From Date</ion-label>
              <ion-datetime display-format="DD MMM YYYY" [(ngModel)]="trip.fromDate"></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">To Date</ion-label>
              <ion-datetime display-format="DD MMM YYYY" [(ngModel)]="trip.toDate"></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Trip Duration (Days)</ion-label>
              <ion-input [(ngModel)]="trip.duration" type="number"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Caravan Used</ion-label>
              <ion-input [(ngModel)]="trip.caravanUsed" type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Vehicle Used</ion-label>
              <ion-input [(ngModel)]="trip.vehicleUsed" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row margin-top margin-bottom>
        <ion-col>
          <ion-button expand="block" color="orange" (click)="addTrip()">
            Log Trip
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
