<ion-header>
  <ion-toolbar>
    <ion-title>New Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="section" *ngIf="!showDetails">
      <ion-col size="12">
        <ion-header text-center>Details</ion-header>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="green" (click)="showDetails = true">
          <ion-icon name="add-circle"></ion-icon> Add Details
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="section" *ngIf="showDetails">
      <ion-col>
          <app-trip-details (details)="detailForm=$event" [trip]="trip"></app-trip-details>
      </ion-col>
    </ion-row>

    <ion-row class="section">
      <ion-col size="12">
        <ion-header text-center>Memories</ion-header>
      </ion-col>
      <ng-container *ngFor="let memory of trip.memories;let index = index;let last = last">
        <ion-col size="10">
          <ion-item>
            <ion-label position="stacked">Memory Name ({{index+1}})</ion-label>
            <ion-input [(ngModel)]="memory.name" type="text"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="2" padding-top>
          <div class="rounded-trash">
            <ion-icon (click)="removeMemory(index)" size="large" name="trash"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Describe Memory</ion-label>
            <ion-textarea [(ngModel)]="memory.description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ng-container>
      <ion-col size="12">
        <ion-button expand="block" color="green" (click)="addMemory()">
          <ion-icon name="add-circle"></ion-icon> Add {{trip.memories.length!=0?'More':''}} Memories
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="section">
     <ion-col>
       <app-trip-photos [photos]="trip.photos"></app-trip-photos>
     </ion-col>
    </ion-row>

    <ion-row margin-top margin-bottom>
      <ion-col>
        <ion-button expand="block" color="orange" (click)="addTrip()">
          <img src="../../../assets/images/campTrip_logo_white.png" height="90%"> Create Trip
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>