<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="back()" slot="start">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-text color="light">Forgot Password</ion-text>
    <ion-button fill="clear" slot="end"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-toolbar>
          <div class="logo-holder">
            <img src="../../assets/images/campTrip_logo_white.png" width="100%" />
          </div>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-text color="light">Please Enter Your Email Address</ion-text>
        </div>
        <ion-item margin-bottom margin-top>
          <ion-input placeholder="Email Address" type="text" [(ngModel)]="email" email></ion-input>
        </ion-item>
        <ion-button [disabled]="resetPasswordLoading" expand="block" color="green" margin-top (click)="resetPassword()">
          <ion-spinner name="dots" *ngIf="resetPasswordLoading" color="light"></ion-spinner>
          <ng-container *ngIf="!resetPasswordLoading">Reset Password</ng-container>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text marginTop color="orange">
          {{errorMessage}}
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text marginTop color="green">
          {{successMessage}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>