// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/comfortaa-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
       url('./assets/fonts/comfortaa-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/comfortaa-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/comfortaa-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/comfortaa-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/comfortaa-v19-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
body {
  font-family: Comfortaa,sans-serif !important;
}
.ion-color-orange {
    --ion-color-base: var(--ion-color-orange) !important;
    --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
    --ion-color-contrast: var(--ion-color-orange-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-orange-shade) !important;
    --ion-color-tint: var(--ion-color-orange-tint) !important
  }
  .ion-color-green {
    --ion-color-base: var(--ion-color-green) !important;
    --ion-color-base-rgb: var(--ion-color-green-rgb) !important;
    --ion-color-contrast: var(--ion-color-green-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-green-shade) !important;
    --ion-color-tint: var(--ion-color-green-tint) !important
  }
  .ion-color-facebookblue {
    --ion-color-base: var(--ion-color-facebookblue) !important;
    --ion-color-base-rgb: var(--ion-color-facebookblue-rgb) !important;
    --ion-color-contrast: var(--ion-color-facebookblue-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-facebookblue-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-facebookblue-shade) !important;
    --ion-color-tint: var(--ion-color-facebookblue-tint) !important
  }
  .text-center{
      text-align: center;
  }
  .text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

ion-fab-button{
  .button-native{
      width: 130%!important;
      height: 130%!important;
  }
}

.item-label-stacked{
  --min-height: 40px;
}

ion-input{

  .sc-ion-input-ios-h{
    padding-top: 0;
    padding-bottom: 0;
  }
}
ion-input{
  --highlight-color-valid:transparent;
}
