<ion-header>
  <ion-toolbar>
           <ion-button fill="clear" (click)="back()" slot="start">
            <ion-icon color="light" name="arrow-back"></ion-icon>
          </ion-button>
          <ion-text color="light">Register</ion-text>
          <ion-button fill="clear" slot="end"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <app-add-profile-pic (updatePhoto)="model.profilePicture = $event;"></app-add-profile-pic>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item margin-bottom>
          <ion-input placeholder="Name" type="text" [(ngModel)]="model.name" (ionChange)="clearError()"></ion-input>
        </ion-item>
        <ion-item margin-bottom>
          <ion-input placeholder="Surname" type="text" [(ngModel)]="model.surname" (ionChange)="clearError()"></ion-input>
        </ion-item>
        <ion-item margin-bottom>
          <ion-input placeholder="Email" type="text" [(ngModel)]="model.email" email (ionChange)="toLowerEmail();clearError()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Password" type="password" [(ngModel)]="model.password" (ionChange)="clearError()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="registerLoading" expand="block" color="green" margin-top (click)="registerUser()">
            <ion-spinner name="dots" *ngIf="registerLoading" color="light"></ion-spinner>
            <ng-container *ngIf="!registerLoading">Register</ng-container>
          
        </ion-button>
        <ion-button expand="block" color="facebookblue" (click)="facebookLogin()">
          <ion-icon name="logo-facebook"></ion-icon> Login
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text marginTop color="orange">
          {{errorMessage}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>